<a href="https://colab.research.google.com/github/SaarthShah/Decentradata/blob/main/decentra_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.11.3)
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.1.0)

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn import ensemble
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
%matplotlib inline

Pulling from mangoDB the land data

In [34]:
from pymongo import MongoClient
import dns
mongoURL = "mongodb+srv://seanroades:justiN95!@virtual-worlds-cluster.fytit.mongodb.net/RRF-Wallet?retryWrites=true&w=majority"
cluster = MongoClient(f"{mongoURL}")

db = cluster['dcl']
collection = db['land-data']

In [35]:
df = collection.find()
list_cur = list(df)
dfa = pd.DataFrame(list_cur[1:])
s = dfa['data'].apply(pd.Series)
sold = pd.concat([dfa.drop(['data'], axis=1), s], axis=1)

In [36]:
onlysold = sold
onlysold =  onlysold.dropna(axis = 0, subset = ['price']).drop(columns = ['id', 'updatedAt', 'type', 'top', 'left', 'topLeft', 'coord'])
onlysold.head()

                                                   _id  ...              price
107  1157920892373161954235709850086879078022276296...  ... 10000000000000.000
108  1157920892373161954235709850086879078022276296...  ... 10000000000000.000
125  1157920892373161954235709850086879078022276296...  ...          39000.000
128  1157920892373161954235709850086879078022276296...  ...          29500.000
129  1157920892373161954235709850086879078022276296...  ...          29500.000

[5 rows x 7 columns]

Timstamps and data about hist data for prices

In [37]:
initial = pd.read_csv('hist-land-data.csv', dtype = {'Timestamp': np.int64})

In [38]:
df = initial[['_id', 'tx0.mana0.timeStamp', 'tx0.mana0.value', 'tx1.mana1.timeStamp', 'tx1.mana1.value', 'tx2.mana2.timeStamp', 'tx2.mana2.value', 'tx3.mana3.timeStamp', 'tx3.mana3.value', 'tx4.mana4.timeStamp', 'tx4.mana4.value']]

In [39]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [40]:
df.head()

                                                 _id  ...          tx4.mana4.value
0  1157920892373161954235709850086879078471449020...  ...  23760000000000000000000
1          24160048051386630905899597127655543013236  ...                      NaN
2          23139200950623815515509473305360238378866  ...                      NaN
3  1157920892373161954235709850086879078420406665...  ...                      NaN
4          20416942015256307807802476445906092687353  ...                      NaN

[5 rows x 11 columns]

In [41]:
dens = pd.read_csv('density.csv')

In [42]:
past = pd.read_csv('hist-land-data.csv')
past.head()

                                                 _id  ... tx7.mana7.value
0  1157920892373161954235709850086879078471449020...  ...             NaN
1          24160048051386630905899597127655543013236  ...             NaN
2          23139200950623815515509473305360238378866  ...             NaN
3  1157920892373161954235709850086879078420406665...  ...             NaN
4          20416942015256307807802476445906092687353  ...             NaN

[5 rows x 172 columns]

Grad model

In [43]:
result = onlysold.merge(dens, on =['x', 'y'])
result.head()

                                                 _id    x   y  ...     p     r     o
0  1157920892373161954235709850086879078022276296... -150  42  ... 0.000 0.091 0.736
1  1157920892373161954235709850086879078022276296... -150  41  ... 0.000 0.091 0.726
2  1157920892373161954235709850086879078022276296... -150  24  ... 0.000 0.096 0.558
3  1157920892373161954235709850086879078022276296... -150  21  ... 0.000 0.105 0.533
4  1157920892373161954235709850086879078022276296... -150  20  ... 0.000 0.104 0.528

[5 rows x 11 columns]

In [44]:
# mana_converter = pd.read_csv('mana.csv')
# mana_converter.head()
# nec = mana_converter[['date', 'PriceUSD']].set_index('date')

In [45]:
# nec.head()

In [46]:
# def mconv(time, price):
#   try:
#     t = int(time)
#     p = int(price)
#     key = datetime.utcfromtimestamp(t).strftime('%Y-%m-%d')
#     return p * list(nec.loc[key])[0]
#   except:
#     return None

In [47]:
# gather = result.merge(df, on = '_id')
# gather = gather.set_index('_id')
# gather.head()

In [48]:
# gather['USD'] = gather.apply(lambda row: mconv(row['tx0.mana0.timeStamp'], row['price']), axis = 1)
# gather.head()

In [49]:
# gather.head()

In [50]:
# gather.dropna(subset = ['x', 'y', 'd', 'p', 'r', 'o', 'USD'])

In [51]:
label = result['price']
train1 = result[['x', 'y', 'd', 'p', 'r', 'o']]
x_train, x_test, y_train, y_test = train_test_split(train1, label, test_size = 0.1)

In [52]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2, learning_rate = 0.1, loss = 'ls')
clf.fit(x_train, y_train)
clf.score(x_test, y_test)

0.9999999999909593

In [53]:
value = clf.predict([[-150, 24, -0.346,	0.000,	0.096, 0.558	]])
print(value)

[3.77716467e+12]

In [79]:
from pymongo import MongoClient
import dns
mongoURL = "mongodb+srv://seanroades:justiN95!@virtual-worlds-cluster.fytit.mongodb.net/RRF-Wallet?retryWrites=true&w=majority"
cluster = MongoClient(f"{mongoURL}")

db = cluster['dcl']
collection = db['rec']

In [81]:
collection.insert_one({'_id': 'big chungus', 'data': 'hehehehe'})

In [88]:
def sectord(x,y):
  if x < -50:
    if y >50:
      return 1
    elif y > -50:
      return 4
    else:
      return 7
  elif x < 50:
    if y >50:
      return 2
    elif y > -50:
      return 5
    else:
      return 8
  else:
    if y >50:
      return 3
    elif y > -50:
      return 4
    else:
      return 9

In [96]:
import json

In [95]:
print(sectord(100, -75))

9

In [102]:
for index, row in result.iterrows():
  prediction = clf.predict([[row['x'], row['y'], row['d'], row['p'], row['r'], row['o']]])
  if prediction[0]*0.8 < row['price']:
    status = 'Undervalued'
  else:
    status = 'Overvalued'
  try:
    est = row['estateId']
  except:
    est = str(0)
  #exp = datetime.utcfromtimestamp().strftime('%Y-%m-%d')
  collection.insert_one({'_id': str(row['_id']), 'x': str(row['x']), 'y': str(row['y']), 'name': row['name'], 'estateId': est, 'sector': str(sectord(row['x'], row['y'])),'price': str(row['price']), 'estimate': str(prediction[0]*0.8), 'status': status})

In [65]:
def value(x, y):
  yo = result.loc[(result['x'] == str(x)) & (result['y'] == str(y))]
  print(yo)
  # clf.predict()

In [67]:
value(120,4)

Empty DataFrame
Columns: [_id, x, y, estateId, owner, name, price, d, p, r, o]
Index: []

ARIMA model

In [54]:
# fit an ARIMA model and plot residual errors
from pandas import datetime
from pandas import read_csv
from pandas import DataFrame
from statsmodels.tsa.arima_model import ARIMA
from matplotlib import pyplot

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

In [55]:
db = df.set_index('_id')

In [56]:
db.head()

                                                    tx0.mana0.timeStamp  ...          tx4.mana4.value
_id                                                                      ...
11579208923731619542357098500868790784714490206...           1535634554  ...  23760000000000000000000
24160048051386630905899597127655543013236                    1535645710  ...                      NaN
23139200950623815515509473305360238378866                    1535647343  ...                      NaN
11579208923731619542357098500868790784204066655...           1535663015  ...                      NaN
20416942015256307807802476445906092687353                    1535670740  ...                      NaN

[5 rows x 10 columns]

In [57]:
db.loc['20416942015256307807802476445906092687353']

tx0.mana0.timeStamp                1535670740
tx0.mana0.value        7950000000000000000000
tx1.mana1.timeStamp                       NaN
tx1.mana1.value                           NaN
tx2.mana2.timeStamp                       NaN
tx2.mana2.value                           NaN
tx3.mana3.timeStamp                       NaN
tx3.mana3.value                           NaN
tx4.mana4.timeStamp                       NaN
tx4.mana4.value                           NaN
Name: 20416942015256307807802476445906092687353, dtype: object

In [58]:
def pre(index):
  pass

In [59]:
!pip install modelstore

Requirement already satisfied: modelstore in /usr/local/lib/python3.7/dist-packages (0.0.52)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from modelstore) (1.0.1)
Requirement already satisfied: tqdm>=4.54.1 in /usr/local/lib/python3.7/dist-packages (from modelstore) (4.60.0)
Requirement already satisfied: onnxruntime==1.6.0 in /usr/local/lib/python3.7/dist-packages (from modelstore) (1.6.0)
Requirement already satisfied: gitpython>=3.1.11 in /usr/local/lib/python3.7/dist-packages (from modelstore) (3.1.14)
Requirement already satisfied: requests>=2.25.1 in /usr/local/lib/python3.7/dist-packages (from modelstore) (2.25.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from onnxruntime==1.6.0->modelstore) (1.19.5)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from onnxruntime==1.6.0->modelstore) (3.12.4)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython>=3.1.11->modelstore) (4.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->modelstore) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->modelstore) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->modelstore) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->modelstore) (1.24.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf->onnxruntime==1.6.0->modelstore) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf->onnxruntime==1.6.0->modelstore) (54.2.0)
Requirement already satisfied: smmap<5,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.11->modelstore) (4.0.0)

In [60]:
def model(id):
  ar = ARIMA(id, order = (1,1,2))
  ar_fit = model.fit(disp=0)
  model_fit.plot_predict(dynamic=False)
  plt.show()