<a href="https://colab.research.google.com/github/SaarthShah/Decentradata/blob/main/decentra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.11.3)
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.1.0)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn import ensemble
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
%matplotlib inline

Pulling from mangoDB the land data

In [3]:
from pymongo import MongoClient
import dns
mongoURL = "mongodb+srv://seanroades:justiN95!@virtual-worlds-cluster.fytit.mongodb.net/RRF-Wallet?retryWrites=true&w=majority"
cluster = MongoClient(f"{mongoURL}")

db = cluster['dcl']
collection = db['land-data']

In [4]:
df = collection.find()
list_cur = list(df)
dfa = pd.DataFrame(list_cur[1:])
s = dfa['data'].apply(pd.Series)
sold = pd.concat([dfa.drop(['data'], axis=1), s], axis=1)

In [5]:
onlysold = sold
onlysold =  onlysold.dropna(axis = 0, subset = ['price']).drop(columns = ['id', 'updatedAt', 'type', 'top', 'left', 'topLeft', 'coord'])
onlysold.head()

                                                   _id  ...         price
107  1157920892373161954235709850086879078022276296...  ...  1.000000e+13
108  1157920892373161954235709850086879078022276296...  ...  1.000000e+13
125  1157920892373161954235709850086879078022276296...  ...  3.900000e+04
128  1157920892373161954235709850086879078022276296...  ...  2.950000e+04
129  1157920892373161954235709850086879078022276296...  ...  2.950000e+04

[5 rows x 7 columns]

Timstamps and data about hist data for prices

In [6]:
initial = pd.read_csv('hist-land-data.csv', dtype = {'Timestamp': np.int64})

In [7]:
df = initial[['_id', 'tx0.mana0.timeStamp', 'tx0.mana0.value', 'tx1.mana1.timeStamp', 'tx1.mana1.value', 'tx2.mana2.timeStamp', 'tx2.mana2.value', 'tx3.mana3.timeStamp', 'tx3.mana3.value', 'tx4.mana4.timeStamp', 'tx4.mana4.value']]

In [8]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [9]:
df.head()

                                                 _id  ...          tx4.mana4.value
0  1157920892373161954235709850086879078471449020...  ...  23760000000000000000000
1          24160048051386630905899597127655543013236  ...                      NaN
2          23139200950623815515509473305360238378866  ...                      NaN
3  1157920892373161954235709850086879078420406665...  ...                      NaN
4          20416942015256307807802476445906092687353  ...                      NaN

[5 rows x 11 columns]

In [10]:
dens = pd.read_csv('density.csv')

In [11]:
past = pd.read_csv('hist-land-data.csv')
past.head()

                                                 _id  ... tx7.mana7.value
0  1157920892373161954235709850086879078471449020...  ...             NaN
1          24160048051386630905899597127655543013236  ...             NaN
2          23139200950623815515509473305360238378866  ...             NaN
3  1157920892373161954235709850086879078420406665...  ...             NaN
4          20416942015256307807802476445906092687353  ...             NaN

[5 rows x 172 columns]

Grad model

In [12]:
result = onlysold.merge(dens, on =['x', 'y'])
result.head()

                                                 _id    x   y  ...     p     r     o
0  1157920892373161954235709850086879078022276296... -150  42  ... 0.000 0.091 0.736
1  1157920892373161954235709850086879078022276296... -150  41  ... 0.000 0.091 0.726
2  1157920892373161954235709850086879078022276296... -150  24  ... 0.000 0.096 0.558
3  1157920892373161954235709850086879078022276296... -150  21  ... 0.000 0.105 0.533
4  1157920892373161954235709850086879078022276296... -150  20  ... 0.000 0.104 0.528

[5 rows x 11 columns]

In [13]:
# mana_converter = pd.read_csv('mana.csv')
# mana_converter.head()
# nec = mana_converter[['date', 'PriceUSD']].set_index('date')

In [14]:
# nec.head()

            PriceUSD
date
2017-08-15       nan
2017-08-16       nan
2017-08-17       nan
2017-08-18       nan
2017-08-19       nan

In [15]:
# def mconv(time, price):
#   try:
#     t = int(time)
#     p = int(price)
#     key = datetime.utcfromtimestamp(t).strftime('%Y-%m-%d')
#     return p * list(nec.loc[key])[0]
#   except:
#     return None

In [16]:
# gather = result.merge(df, on = '_id')
# gather = gather.set_index('_id')
# gather.head()

                                                      x  ...          tx4.mana4.value
_id                                                      ...
11579208923731619542357098500868790780222762962... -150  ...  24500000000000000000000
11579208923731619542357098500868790780222762962... -150  ...  22425000000000000000000
11579208923731619542357098500868790780222762962... -150  ...  22425000000000000000000
11579208923731619542357098500868790780222762962... -150  ...                      NaN
11579208923731619542357098500868790780256791199... -150  ...    200000000000000000000

[5 rows x 20 columns]

In [17]:
# gather['USD'] = gather.apply(lambda row: mconv(row['tx0.mana0.timeStamp'], row['price']), axis = 1)
# gather.head()

In [18]:
# gather.head()

In [19]:
# gather.dropna(subset = ['x', 'y', 'd', 'p', 'r', 'o', 'USD'])

In [23]:
label = result['price']
train1 = result[['x', 'y', 'd', 'p', 'r', 'o']]
x_train, x_test, y_train, y_test = train_test_split(train1, label, test_size = 0.1)

In [24]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2, learning_rate = 0.1, loss = 'ls')
clf.fit(x_train, y_train)
clf.score(x_test, y_test)

0.516471560126496

In [25]:
value = clf.predict([[-150, 24, -0.346,	0.000,	0.096, 0.558	]])
print(value)

[4.03635918e+12]

ARIMA model

In [26]:
# fit an ARIMA model and plot residual errors
from pandas import datetime
from pandas import read_csv
from pandas import DataFrame
from statsmodels.tsa.arima_model import ARIMA
from matplotlib import pyplot

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [27]:
db = df.set_index('_id')

In [28]:
db.head()

                                                    tx0.mana0.timeStamp  ...          tx4.mana4.value
_id                                                                      ...
11579208923731619542357098500868790784714490206...           1535634554  ...  23760000000000000000000
24160048051386630905899597127655543013236                    1535645710  ...                      NaN
23139200950623815515509473305360238378866                    1535647343  ...                      NaN
11579208923731619542357098500868790784204066655...           1535663015  ...                      NaN
20416942015256307807802476445906092687353                    1535670740  ...                      NaN

[5 rows x 10 columns]

In [29]:
db.loc['20416942015256307807802476445906092687353']

tx0.mana0.timeStamp                1535670740
tx0.mana0.value        7950000000000000000000
tx1.mana1.timeStamp                       NaN
tx1.mana1.value                           NaN
tx2.mana2.timeStamp                       NaN
tx2.mana2.value                           NaN
tx3.mana3.timeStamp                       NaN
tx3.mana3.value                           NaN
tx4.mana4.timeStamp                       NaN
tx4.mana4.value                           NaN
Name: 20416942015256307807802476445906092687353, dtype: object

In [30]:
def pre(index):
  pass

In [ ]:
def model(id):
  ar = ARIMA(id, order = (1,1,2))
  ar_fit = model.fit(disp=0)
  model_fit.plot_predict(dynamic=False)
  plt.show()